<h1>SIGN IN</h1>
<div class="container">
  <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="userName" class="form-control" name="userName" ngModel #userName>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password" id="pwd" ngModel #password>
    </div>
    <!-- <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>   -->
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Remember me </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
